* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  /* font-size: 1.75rem; */
  color: blueviolet;
  background-color: black;
  line-height: 1.5;
}

:root {
  --light: aquamarine;
}

header {
  /* display: flex; */
  font-family: 'Playfair Display', serif;
  background-color: var(--light);
  padding: 1%;
  border-radius: 50px;
  border-color: black;
  border-style: dotted;
  border-width: 10px;
}

h1 {
  font-size: 400%;
  background-color: transparent;
}

h1::after {
  content: 'Tisha Anderson';
  margin-left: 10px;
  color: rgb(171, 121, 219);
  font-size: 75%;
}

header p {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 150%;
  padding: 1%;
}

nav ul li a::before,
nav ul li a::after {
  content: '\2661';
  margin-top: 10px;
}

/* main {
  font-size: 16px;
} */

.container {
  background-color: var(--light);
  padding: 3%;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  margin: 0 5% 2% 5%;

  
}



h3 {
  font-size: x-large;
  border-radius: 50px;
  margin: 0 35% 2% 35%;
  padding: 5px;
}

#house-pic,
#yard-pic,
#smokey-pic {
  height: 200px;
  width: 150px;
}

#unt-icon {
  height: 100px;
}

#horiseon-icon {
  max-height: 250px;
}
