* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  /* font-size: 1.75rem; */
  color: blueviolet;
  background-color: black;
  line-height: 1.5;

}

:root {
  --light: aquamarine;
}

}

body {
  display: flex;
  line-height: 1.5;
  /* color: blueviolet; */
  font-family: 'Playfair Display', serif;
}

header {
  font-family: 'Playfair Display', serif;
  background-color: var(--light);
  padding: 3%;
  border-radius: 50px;
  border-color: black;
  border-style: dotted;
  border-width: 10px;
}

h1 {
  /* font-family: 'Playfair Display', serif; */
  font-size: 400%;
  background-color: transparent;
}

h1::after {
  content: 'Tisha Anderson';
  margin-left: 10px;
  color: rgb(171, 121, 219);
  font-size: 85%;
}

header p {
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 150%;
  padding: 1%;
  width: 100%;
}

h2::before,
h2::after {
  content: '\2661';
  margin-top: 10px;
}

main {
  font-size: 24px;

}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.container img {
  width: 400px;
  height: 400px;
}
.about-me-info {

}